@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --weight-700: 700;
  --weight-400: 400;
  --white-color: #ffff;
  --kashmir-blue: #4b6a9b;
  --gunmetal-color: #2b3442;
  --DeepSky-blue: #0079ff;
  --zirkon-color: #f6f8ff;
  --mirage-color: #141d2f;
  --blueZodiac-color: #1e2a47;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  background-color: var(--zirkon-color);
  height: 100vh;
  width: 100vw;
}
.header-comp {
  display: flex;
  column-gap: 113px;
}
.theme-switch {
  display: flex;
  column-gap: 18.72px;
  margin-top: 40px;
}
h1 {
  margin-top: 31px;
  margin-left: 24px;
}
.search-bar {
  height: 60px;
  width: 327px;
  border-radius: 15px;
  background-color: var(--white-color);
  margin-top: 35px;
  margin-left: 24px;
}
.search-in {
  display: flex;
  justify-content: center;
  position: relative;
  top: 18px;
}
.btn {
  background: var(--DeepSky-blue);
  border-radius: 10px;
  height: 46px;
  width: 84px;
  color: var(--white-color);
  position: relative;
  bottom: 8px;
  left: 7px;
}
#search-svg {
  position: relative;
  right: 11.32px;
}
#search {
  border: none;
  height: 25px;
  width: 184px;
  position: relative;
  bottom: 10px;
}
#search::placeholder {
  font-size: 13px;
  line-height: 25px;
  font-weight: var(--weight-400);
}
.main-cont {
  background: var(--white-color);
  margin-top: 16px;
  margin-left: 24px;
  width: 327px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.infos {
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 34px;
  display: flex;
}
.name-info {
  margin-left: 19px;
}
#about {
  margin-left: 24px;
  font-size: 13px;
  line-height: 25px;
  font-weight: var(--weight-400);
}
.info-cont {
  height: 85px;
  width: 279px;
  border-radius: 10px;
  background-color: var(--zirkon-color);
  display: flex;
  justify-content: center;
  column-gap: 14px;
  margin-left: 24px;
  margin-top: 23px;
  margin-bottom: 24px;
}
.repos,
.followers,
.following {
  margin-top: 18px;
}
b {
  color: var(--gunmetal-color);
}
p {
  color: var(--kashmir-blue);
}
#rep,
#fol,
#fol-ing {
  font-size: 11px;
  line-height: 16px;
  font-weight: var(--weight-400);
}
.location,
.url,
.social,
.platform {
  display: flex;
  column-gap: 19.25px;
  margin-bottom: 17px;
  margin-left: 24px;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}
.header-theme-switch-btn {
  display: flex;
  column-gap: 10px;
}
.inside-info {
  display: flex;
  column-gap: 5px;
}
#blur {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar {
    height: 69px;
    width: 573px;
  }
  .search-in {
    justify-content: space-around;
  }
  .btn {
    margin-left: 115px;
  }
  #search {
    width: 254px;
    outline: none;
    position: relative;
    right: 30px;
  }
  #search::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
  .main-cont {
    width: 573px;
  }
  .info-cont {
    width: 493px;
  }
  .header-comp {
    justify-content: space-between;
  }
  #about {
    width: 493px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-left: 40px;
  }
  .inside-info {
    column-gap: 99px;
  }
  span {
    display: inline;
  }
  .privete-infos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .location {
    order: 1;
  }
  .url {
    order: 2;
  }
  .social {
    order: 3;
  }
  .platform {
    order: 4;
  }
}
@media only screen and (min-width: 1440px) {
.search-bar {
  height: 69px;
width: 730px;


}
.main-cont {
  
  width: 730px;
}
h1 {
  letter-spacing: 2.5px;
font-size: 26px;
line-height: 39px;
}
h4 {
 
font-size: 13px;
line-height: 19px;
}

.info-cont{
  margin-left: 202px;
}
.name-info {
  margin-left: 110px;
}
#about {
  margin-left: 202px;
}
.joined {
  display: flex;
  column-gap: 138px;
}
h3 {
  font-size: 26px;
line-height: 39px;
}
#date {
  position: relative;
  bottom: 35px;
}
.btn {
  margin-left: 20em;
}
#avatar {
  position: relative;
  left: 44px;
}
.privete-infos {
  width: 550px;
  margin-left: 202px;
}
.location {
  order: 4;
}
.url {
  order: 3;
}
.social {
  order: 2;
  position: relative;
  left: 7.5em;
}
.platform {
  order: 1;
}
}
